/* // Importa as definições globais (Caminho relativo para a pasta assets/scss) */
@use '../../assets/scss/variables' as *;

/* --- Configurações de Base --- */

html {
    scroll-behavior: smooth;
}

body, p {
    font-family: $font-main;
    color: $black-bg;
}

/* Tipografia de Impacto */
h1, h2, h3, .btn-hero {
    font-family: $font-heading;
    text-transform: uppercase;
}

.text-red { color: $primary-red; }
