// Font Family
$oswald: 'Oswald', sans-serif;
$roboto: 'Roboto', sans-serif;

// Colors ---------------
$text-color: #041d38;
$primary-color: #ffaa17;
$secondary-color: #041d38;
$overly-color: #757a89;
$third-color: #091620;
$fourth-color: #14212b;
$section-bg: #f7fcff;
$white: #fff;
$black: #000;

$border-color: #ededed;

// Responsive Variables
$xxl: '(min-width: 1600px)';
$xl: 'only screen and (min-width: 1200px) and (max-width: 1599px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md: 'only screen and (min-width: 768px) and (max-width: 991px)';
$sm: '(max-width: 767px)';
$lsm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$xsm: '(max-width: 575px)';
$tiny: '(max-width: 399px)';


// Margins e paddings--
$directions: (
  "t": "top",
  "b": "bottom",
  "l": "left",
  "r": "right"
);

@for $i from 0 through 40 { // De 0 até 200px (40 * 5)
    $val: $i * 5;
    @each $char, $dir in $directions {
        .m#{$char}-#{$val} { margin-#{$dir}: #{$val}px !important; }
        .p#{$char}-#{$val} { padding-#{$dir}: #{$val}px !important; }
    }
}
